.home_img {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  overflow-x: hidden;
}
.Home {
  overflow-y: hidden;
  overflow-x: hidden;
  background: linear-gradient(124deg, #000000, #363636);
  background-size: 400% 400%;
  -webkit-animation: gradientAnim 10s ease infinite;
  -moz-animation: gradientAnim 10s ease infinite;
  animation: gradientAnim 10s ease infinite;
}

@-webkit-keyframes gradientAnim {
  0% {
    background-position: 36% 0%;
  }
  50% {
    background-position: 65% 100%;
  }
  100% {
    background-position: 36% 0%;
  }
}
@-moz-keyframes gradientAnim {
  0% {
    background-position: 36% 0%;
  }
  50% {
    background-position: 65% 100%;
  }
  100% {
    background-position: 36% 0%;
  }
}
@keyframes gradientAnim {
  0% {
    background-position: 36% 0%;
  }
  50% {
    background-position: 65% 100%;
  }
  100% {
    background-position: 36% 0%;
  }
}
.home__separator {
  height: 30vh;
}
